
.card {
  width: 50%;
  height: calc(100% - 150px);
  margin: auto;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .data {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  }
  .qr-view {
    display: flex;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;

    .disabled {
      background-color: rgba(127, 127, 127, 0.5);

      button {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 10px;
        border-radius: 50%;
        background-color: rgb(66, 66, 66);
        border: none;
        outline: none;
        color: #d7dad4;
        cursor: pointer;

        mat-icon {
          transform: scale(2);
        }
      }
    }

  }
  @media only screen and (max-width: 1000px) {
    .data {
      min-width: fit-content;
    }
  }
}


