<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <mat-icon>qr_code_2</mat-icon>
            Scan QR-code for login
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info">
            <div class="data">
                <h2>To use Capital One Web App on your computer:</h2>
                <mat-list>
                    <mat-list-item>1. Open Capital One app on your phone</mat-list-item>
                    <mat-list-item>2. Tap "Connect via QR"</mat-list-item>
                    <mat-list-item>3. Point your phone to this screen to capture the code</mat-list-item>
                </mat-list>
            </div>
            <div class="qr-view" [style.background-image]="'url('+qrData+')'">
                <div *ngIf="expiredQR" class="disabled">
                    <button (click)="onSubscribeSocket()">
                        <div>
                            <mat-icon>refresh</mat-icon>
                        </div>
                        CLICK TO RELOAD QR CODE
                    </button>
                </div>
            </div>
        </div>


    </mat-card-content>
</mat-card>
